.archive{
  width: 100%;
  min-height: 100vh;
  padding: 70px 0 40px 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.archive-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 32px;
}



.archive .info-archive{
position: absolute;
top: 50%;
left: 50%;
transform: translate(calc(-50% +280px),calc(-50% -60px));
text-align: center;
}
.archive .info-archive h3{
  font-weight: 400;
  color: var(--black-light);
}
.archive .info-archive .archive-in{
  color: var(--grey-light);
}

.archive .card{
  padding: 16px;
  width: 200px;
  max-height: 300px;
  margin-bottom: 32px;
}

.archive button{
  position: relative;
  cursor: pointer;
}
.archive button:hover::before{
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%); 
  color: white;
  background-color: var(--black-light);
  padding: 2px 8px;
}
 
.archive .remove-btn:hover:before{
  content: 'usuń';
}
.archive .archive-btn:hover::before{
  content: 'przywróć';
}
@media (max-width: 935px) {
  .archive{
     padding: 70px 10px 40px 10px;
  }
  .archive .info-archive{
    transform: translate(-50%,-50%); 
    }
}