.note{
  width: 100%;
  height: 100vh;
  padding: 70px 0 40px 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.note .add-note{
 
  width: 600px;
  min-height: 46px;
  box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
  cursor: pointer;
}
.note .add-note input{
  height: 44px;
  padding: 0 16px;
  border: none;
  outline: none;
}
.note .add-note input[type='color'],.note .add-note label{
 background-color: transparent;
 cursor: pointer;
}
.note .info-note{
position: absolute;
top: 50%;
left: 50%;
transform: translate(calc(-50% +280px),calc(-50% -60px));
text-align: center;
}
.note .info-note h3{
  font-weight: 400;
  color: var(--black-light);
}
.note .info-note .bulb-note{
  color: var(--grey-light);
}
.note .panel{
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}
.note .panel .row{
  background-color: var(--grey-light-super);
}
.note .panel button{
  cursor: pointer;
  background-color: var(--grey-light-super);
  border: none;
}
.note .card{
  padding: 16px;
  width: 200px;
  max-height: 300px;
  
}
.note .card button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.note .card button:hover::before{
  content: 'kosz';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: var(--black-light);
  padding: 2px 8px;
}